*.auxl
*.backup
*.bbl
*.bib*
*.blg
*.bz2*
*.desktop
*.dvi
*.fdb*
*.fls
*.gz*
*.kfcg
*.kdev4
*.lof
*.log
*.out
*.tar*
*.toc
*~

#exclude all tex files
*.tex

#exclude all .pdf files
*.pdf

#whitelist locations
!/**/hlp/**/*.pdf
!/**/skp/**/*.pdf
!/**/skp/**/*.tex

!opn/conf/**/*.tex

#allow tex and pdf inside last folder depth
!/**/chp/**/*.pdf
!/**/chp/**/*.tex
!/**/date/**/*.pdf
!/**/date/**/*.tex
!/**/misc/**/*.pdf
!/**/misc/**/*.tex
